.LayoutSite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  box-sizing: border-box;
  background: url("../../assets/oceanBackground.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  > * {
    position: relative;
    z-index: 1;
  }

  footer {
    margin-top: auto;
  }
}
