.Myself {
  margin-top: 80px;
  display: flex;
  min-height: 40vh;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      width: 540px;
    }
    .text {
      display: flex;
      flex-direction: column;

      .intro {
        font-size: 84px;
        color: #fff;
        opacity: 0.8;
        font-family: Arial, Helvetica, sans-serif;
      }

      h1 {
        padding: 30px 0;
        font-size: 70px;
        color: white;
        text-shadow: 0 0 24px rgb(24, 35, 116);
        animation: fadeInDown 1.5s ease-out forwards;

        span {
          display: inline-block;
          background: linear-gradient(45deg, purple, rgb(91, 117, 236));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .Myself .content .text h1 {
    font-size: 50px;
    padding: 30px 0;
  }
}
